@import '../../../style/themes/base/variables.scss';

.card{
	.top{
		padding-top: 1em;
		padding-left: 1em;
		padding-right: 1em;
		background-color: $brand-primary;
		display: flex;
		justify-content: 	space-between;

		
		.clubLogoContainer{
			display: flex;
			justify-content: center;

			.clubLogo{
				flex: 0 0 auto;
				height:5em;
				width: 5em;
			
			}
		}

		.playerPhotoContainer{
			flex: 1 0 auto;
			justify-content: center;
			display: flex;
		}

		.playerPhoto{
			vertical-align: bottom;
			justify-content: center;
		}
	
		.jumperNumber{
			height: 1.5em;
			width: 1.5em;
			border-radius: 5px;
			flex: 0 0 auto;
			display: flex;
			align-items:center;
			justify-content: center;
			font-size: 2.5em;
			font-weight: bold;
			background-color:white;
		}
	}
	
	
	.bottom{
		padding: 0.6em;
		background-color: white;

		.lastName{
			margin-left: 0.2em;
			font-weight: bold;
		}

		.clubName{
			font-size: 0.5em;
		}
	}
	

}
