.playerDetails{
	height: 15em;
	width:100%;
}

.playerDetails_large{
	top:0;
	bottom:0;
	margin-top:auto;
	margin-bottom: auto;
	position:absolute;

	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
	display: flex;
	justify-content:space-between;
}

.card{
	width:100%;
	margin-top: 0.5em;
	background-color: white;
}

.card_primary{
	margin-top:0;
	width:48%;
	height: 100%;
}

.card_secondary{
	margin-top:0;
	width:24%;
	height: 100%;
}