// Colour Palette
$crimson: #ED1E30;

// Greys
$silver: #cccccc;

$brand-primary: $crimson;

// Component defaults
$text-colour-default:black;
$border-colour-default: $silver;
$border-radius-default: 3px;

// Sizing
$base-font-size: 14px;
$label-font-size: 16px;
$large-font-size: 20px;

// Min-widths;
$max-width-lg: 1000px;

// Responsive
$breakpoint-sm-only: '(max-width: 414px)' !default;
$breakpoint-md-only: '(max-width: 768)' !default;
$breakpoint-lg-only: '(max-width: 1280)' !default;

