@import '../../../style/themes/base/variables.scss';

.indicator{
	width:50%;
	height: 25%;
	.name{
		font-size: 0.5em;
		text-align: center;
	}

	.value{
		font-size: 1em;
		font-weight: bold;
		text-align: center;
	}

	.value_red{
		color: $brand-primary;
	}
}

.indicator_medium{
	width:auto;
}