@import '../../style/themes/base/variables.scss';

.playerCard{
	height: 100%;
	.top{
		height: 75%;
		background-color: $brand-primary;
		display: flex;
		justify-content: 	space-between;

		
		.clubLogoContainer{
			margin-top: 10px;
			display: flex;
			justify-content: center;

			.clubLogo{
				flex: 0 0 auto;
				height:5em;
				width: 5em;
			
			}
		}

		.playerPhotoContainer{
			height:100%;
			width: 50%;
			flex: 1 0 auto;
			justify-content: center;
			display: flex;
		}

		.playerPhoto{
			width: auto;
			height: 100%;
			vertical-align: bottom;
			justify-content: center;
		}
	
		.jumperNumber{
			margin-top: 10px;
			margin-right: 10px;
			height: 1.5em;
			width: 1.5em;
			border-radius: 5px;
			flex: 0 0 auto;
			display: flex;
			align-items:center;
			justify-content: center;
			font-size: 2.5em;
			font-weight: bold;
			background-color:white;
		}
	}
	
	
	.bottom{
		padding-left: 10px;
		height: 25%;
		background-color: white;

		.fullName{
			padding-top: 10px;
			.lastName{
				margin-left: 0.2em;
				font-weight: bold;
			}
		}

		.clubName{
			font-size: 0.5em;
		}
	}
	

}
